openapi: "3.1.0"
info:
  title: "Documents"
  description: "The documentation for the StackOne Unified API - DOCUMENTS"
  contact: {}
  version: "1.0.0"
servers:
  - url: "https://api.stackone.com"
paths:
  "/connect_sessions":
    post:
      tags:
        - "Connect Sessions"
      summary: "Create Connect Session"
      operationId: "stackone_create_connect_session"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/ConnectSessionCreate"}
        required: true
      responses:
        "201":
          description: "The details of the connect session created with token and auth link"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConnectSessionTokenAuthLink"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "create"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
      x-speakeasy-group: connectSessions
  "/connect_sessions/authenticate":
    post:
      tags:
        - "Connect Sessions"
      summary: "Authenticate Connect Session"
      operationId: "stackone_authenticate_connect_session"
      requestBody:
        description: "The parameters to authenticate"
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/ConnectSessionAuthenticate"}
        required: true
      responses:
        "201":
          description: "The details of the authenticated connect session."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConnectSession"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "authenticate"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
      x-speakeasy-group: connectSessions
  "/accounts":
    get:
      tags:
        - "Accounts"
      summary: "List Accounts"
      operationId: "stackone_list_linked_accounts"
      parameters:
        - name: "page"
          in: "query"
          description: "The page number of the results to fetch"
          required: false
          schema:
            type: "number"
            nullable: true
        - name: "page_size"
          in: "query"
          description: "The number of results per page"
          required: false
          schema:
            type: "number"
            default: 25
            nullable: true
        - name: "provider"
          in: "query"
          description: "The provider of the results to fetch"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
        - name: "origin_owner_id"
          in: "query"
          description: "The origin owner identifier of the results to fetch"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "providers"
          in: "query"
          description: "The providers list of the results to fetch"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
        - name: "account_ids"
          in: "query"
          description: "The providers list of the results to fetch"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
        - name: "status"
          in: "query"
          description: "The status of the results to fetch"
          required: false
          schema:
            type: "array"
            items:
              type: "string"
      responses:
        "200":
          description: "The list of accounts was retrieved."
          content:
            "application/json":
              schema:
                type: "array"
                items: {"$ref": "#/components/schemas/LinkedAccount"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "list"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  "/accounts/{id}":
    get:
      tags:
        - "Accounts"
      summary: "Get Account"
      operationId: "stackone_get_account"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "The account with the given identifier was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkedAccount"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "get"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
    delete:
      tags:
        - "Accounts"
      summary: "Delete Account"
      operationId: "stackone_delete_account"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "The account with the given identifier was deleted."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkedAccount"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "delete"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
    patch:
      tags:
        - "Accounts"
      summary: "Update Account"
      operationId: "stackone_update_account"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/PatchAccountExternalDto"}
        required: true
      responses:
        "200":
          description: "The account with the given identifier was updated."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkedAccount"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "update"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  "/accounts/{id}/meta":
    get:
      tags:
        - "Accounts"
      summary: "Get meta information of the account"
      operationId: "stackone_get_account_meta_info"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      responses:
        "200":
          description: "The meta information of the account was retrieved"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/LinkedAccountMeta"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "getMeta"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  "/requests/logs/steps":
    get:
      tags:
        - "Request Logs"
      summary: "List Step Logs"
      operationId: "stackone_list_step_logs"
      parameters:
        - name: "order_by"
          in: "query"
          description: "The field to order the results by."
          required: false
          schema:
            type: "string"
            enum:
              - "provider"
              - "service"
              - "status"
              - "eventDatetime"
              - "duration"
              - null
            additionalProperties: false
            nullable: true
            example: "created_at"
          x-speakeasy-unknown-values: "allow"
        - name: "order_direction"
          in: "query"
          description: "The direction to order the results by."
          required: false
          schema:
            type: "string"
            enum:
              - "asc"
              - "desc"
              - null
            additionalProperties: false
            nullable: true
            example: "asc"
          x-speakeasy-unknown-values: "allow"
        - name: "page_size"
          in: "query"
          description: "The number of results per page (default value is 25)"
          required: false
          schema:
            type: "number"
            maximum: 100
            nullable: true
        - name: "next"
          in: "query"
          description: "The unified cursor"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "filter"
          in: "query"
          description: "Filter parameters that allow greater customisation of the list response"
          required: false
          schema:
            type: "object"
            properties:
              "account_ids":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of account IDs to filter the results by."
                nullable: true
                example: "45355976281015164504,45355976281015164505"
              "start_date":
                type: "string"
                additionalProperties: false
                description: "A ISO8601 date string to filter the results by start_date."
                nullable: true
                example: "2020-01-01T00:00:00.000Z"
              "end_date":
                type: "string"
                additionalProperties: false
                description: "A ISO8601 date string to filter the results by end_date."
                nullable: true
                example: "2020-01-01T00:00:00.000Z"
              "request_ids":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of request IDs to filter the results by."
                nullable: true
                example: "adbf752f-6457-4ddd-89b3-98ae2252b83b,adbf752f-6457-4ddd-89b3-98ae2252b83c"
              "http_methods":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of HTTP methods to filter the results by."
                nullable: true
                example: "GET,POST"
              "providers":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of provider keys to filter the results by."
                nullable: true
                example: "ashby,greenhouse"
              "services":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of services to filter the results by."
                nullable: true
                example: "hris,ats"
              "resources":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of resources to filter the results by."
                nullable: true
                example: "employees,users"
              "child_resources":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of child resources to filter the results by."
                nullable: true
                example: "documents,time-off"
              "sub_resources":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of sub resources to filter the results by."
                nullable: true
                example: "documents,employees"
              "actions":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of actions to filter the results by."
                nullable: true
                example: "download,upload"
              "status_codes":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of status codes to filter the results by."
                nullable: true
                example: "200,400"
              "success":
                type: "boolean"
                additionalProperties: false
                description: "A boolean value to filter the results by success or failure."
                nullable: true
                example: true
            nullable: true
      responses:
        "200":
          description: "The list of step logs was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/StepLogsPaginated"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "listSteps"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
      x-speakeasy-group: requestLogs
  "/requests/logs/{id}":
    get:
      tags:
        - "Request Logs"
      summary: "Get a Log"
      operationId: "stackone_get_log"
      parameters:
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "include"
          in: "query"
          description: "The include parameter allows you to include additional data in the response."
          required: false
          schema:
            type: "string"
            enum:
              - "step_logs"
              - "advanced_logs"
              - null
            nullable: true
            example: "step_logs"
          x-speakeasy-unknown-values: "allow"
      responses:
        "200":
          description: "The log was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnifiedLogResult"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "get"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
      x-speakeasy-group: requestLogs
  "/requests/logs":
    get:
      tags:
        - "Request Logs"
      summary: "List Logs"
      operationId: "stackone_list_logs"
      parameters:
        - name: "order_by"
          in: "query"
          description: "The field to order the results by."
          required: false
          schema:
            type: "string"
            enum:
              - "provider"
              - "service"
              - "status"
              - "eventDatetime"
              - "duration"
              - null
            additionalProperties: false
            nullable: true
            example: "created_at"
          x-speakeasy-unknown-values: "allow"
        - name: "order_direction"
          in: "query"
          description: "The direction to order the results by."
          required: false
          schema:
            type: "string"
            enum:
              - "asc"
              - "desc"
              - null
            additionalProperties: false
            nullable: true
            example: "asc"
          x-speakeasy-unknown-values: "allow"
        - name: "page_size"
          in: "query"
          description: "The number of results per page (default value is 25)"
          required: false
          schema:
            type: "number"
            maximum: 100
            nullable: true
        - name: "next"
          in: "query"
          description: "The unified cursor"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "include"
          in: "query"
          description: "The include parameter allows you to include additional data in the response."
          required: false
          schema:
            type: "string"
            enum:
              - "step_logs"
              - null
            nullable: true
            example: "step_logs"
          x-speakeasy-unknown-values: "allow"
        - name: "filter"
          in: "query"
          description: "Filter parameters that allow greater customisation of the list response"
          required: false
          schema:
            type: "object"
            properties:
              "account_ids":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of account IDs to filter the results by."
                nullable: true
                example: "45355976281015164504,45355976281015164505"
              "start_date":
                type: "string"
                additionalProperties: false
                description: "A ISO8601 date string to filter the results by start_date."
                nullable: true
                example: "2020-01-01T00:00:00.000Z"
              "end_date":
                type: "string"
                additionalProperties: false
                description: "A ISO8601 date string to filter the results by end_date."
                nullable: true
                example: "2020-01-01T00:00:00.000Z"
              "request_ids":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of request IDs to filter the results by."
                nullable: true
                example: "adbf752f-6457-4ddd-89b3-98ae2252b83b,adbf752f-6457-4ddd-89b3-98ae2252b83c"
              "source_types":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of source types to filter the results by."
                nullable: true
                example: "DASHBOARD,SYNTHETIC_WEBHOOK"
              "source_values":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of source values to filter the results by."
                nullable: true
              "source_ids":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of source IDs to filter the results by."
                nullable: true
              "http_methods":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of HTTP methods to filter the results by."
                nullable: true
                example: "GET,POST"
              "providers":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of provider keys to filter the results by."
                nullable: true
                example: "ashby,greenhouse"
              "services":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of services to filter the results by."
                nullable: true
                example: "hris,ats"
              "resources":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of resources to filter the results by."
                nullable: true
                example: "employees,users"
              "child_resources":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of child resources to filter the results by."
                nullable: true
                example: "documents,time-off"
              "sub_resources":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of sub resources to filter the results by."
                nullable: true
                example: "documents,employees"
              "actions":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of actions to filter the results by."
                nullable: true
                example: "download,upload"
              "status_codes":
                type: "string"
                additionalProperties: false
                description: "A comma-separated list of status codes to filter the results by."
                nullable: true
                example: "200,400"
              "success":
                type: "boolean"
                additionalProperties: false
                description: "A boolean value to filter the results by success or failure."
                nullable: true
                example: true
              "order_by":
                type: "string"
                enum:
                  - "provider"
                  - "service"
                  - "status"
                  - "eventDatetime"
                  - "duration"
                  - null
                additionalProperties: false
                description: "The field to order the results by."
                nullable: true
                example: "created_at"
              "order_direction":
                type: "string"
                enum:
                  - "asc"
                  - "desc"
                  - null
                additionalProperties: false
                description: "The direction to order the results by."
                nullable: true
                example: "asc"
            nullable: true
      responses:
        "200":
          description: "The list of logs was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnifiedLogsPaginated"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "list"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
      x-speakeasy-group: requestLogs
  "/connectors/meta":
    get:
      tags:
        - "Connectors"
      summary: "List Connectors Meta Information for all providers"
      operationId: "stackone_list_connectors_meta"
      parameters:
        - name: "include"
          in: "query"
          description: "The comma separated list of data that will be included in the response"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "field_path,unmapped_fields,resources,inactive,webhooks,static_fields"
      responses:
        "200":
          description: "The list of connectors meta information was retrieved."
          content:
            "application/json":
              schema:
                type: "array"
                items: {"$ref": "#/components/schemas/ConnectorsMeta"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "listMeta"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  "/connectors/meta/{provider}":
    get:
      tags:
        - "Connectors"
      summary: "Get Connector Meta information for the given provider key"
      operationId: "stackone_get_connector_meta"
      parameters:
        - name: "provider"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "include"
          in: "query"
          description: "The comma separated list of data that will be included in the response"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "field_path,unmapped_fields,resources,inactive,webhooks,static_fields"
      responses:
        "200":
          description: "The connector meta information was retrieved"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConnectorsMeta"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "getMeta"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  "/unified/proxy":
    post:
      tags:
        - "Proxy"
      summary: "Proxy Request"
      operationId: "stackone_proxy_request"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
      requestBody:
        description: "The request body"
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/ProxyRequestBody"}
        required: true
      responses:
        "200":
          description: "The proxy request was successful."
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-name-override: "perform"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  /unified/hris/companies:
    get:
      tags:
        - "Companies"
      summary: "List Companies"
      operationId: "hris_list_companies"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
        - name: "raw"
          in: "query"
          description: "Indicates that the raw request result should be returned in addition to the mapped result (default value is false)"
          required: false
          schema:
            type: "boolean"
            nullable: true
        - name: "proxy"
          in: "query"
          description: "Query parameters that can be used to pass through parameters to the underlying provider request by surrounding them with 'proxy' key"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            additionalProperties: true
            nullable: true
        - name: "fields"
          in: "query"
          description: "The comma separated list of fields that will be returned in the response (if empty, all fields are returned)"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "id,remote_id,name,full_name,display_name,created_at,updated_at"
        - name: "filter"
          in: "query"
          description: "Filter parameters that allow greater customisation of the list response"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            properties:
              "updated_after":
                type: "string"
                additionalProperties: false
                description: "Use a string with a date to only select results updated after that given date"
                nullable: true
                example: "2020-01-01T00:00:00.000Z"
            nullable: true
        - name: "page"
          in: "query"
          description: "The page number of the results to fetch"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
        - name: "page_size"
          in: "query"
          description: "The number of results per page (default value is 25)"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "next"
          in: "query"
          description: "The unified cursor"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "updated_after"
          in: "query"
          description: "Use a string with a date to only select results updated after that given date"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
            example: "2020-01-01T00:00:00.000Z"
      responses:
        "200":
          description: "The list of Companies was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/CompaniesPaginated"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-group: "hris"
      x-speakeasy-name-override: "list_companies"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "next", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.next"}}
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  /unified/hris/companies/{id}:
    get:
      tags:
        - "Companies"
      summary: "Get Company"
      operationId: "hris_get_company"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "raw"
          in: "query"
          description: "Indicates that the raw request result should be returned in addition to the mapped result (default value is false)"
          required: false
          schema:
            type: "boolean"
            nullable: true
        - name: "proxy"
          in: "query"
          description: "Query parameters that can be used to pass through parameters to the underlying provider request by surrounding them with 'proxy' key"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            additionalProperties: true
            nullable: true
        - name: "fields"
          in: "query"
          description: "The comma separated list of fields that will be returned in the response (if empty, all fields are returned)"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "id,remote_id,name,full_name,display_name,created_at,updated_at"
      responses:
        "200":
          description: "The Company with the given identifier was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/CompanyResult"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-group: "hris"
      x-speakeasy-name-override: "get_company"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  /unified/hris/custom_field_definitions/employees:
    get:
      tags:
        - "Custom Field Definitions"
      summary: "List employee Custom Field Definitions"
      operationId: "hris_list_employee_custom_field_definitions"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
        - name: "raw"
          in: "query"
          description: "Indicates that the raw request result should be returned in addition to the mapped result (default value is false)"
          required: false
          schema:
            type: "boolean"
            nullable: true
        - name: "proxy"
          in: "query"
          description: "Query parameters that can be used to pass through parameters to the underlying provider request by surrounding them with 'proxy' key"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            additionalProperties: true
            nullable: true
        - name: "fields"
          in: "query"
          description: "The comma separated list of fields that will be returned in the response (if empty, all fields are returned)"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "id,remote_id,name,description,type,options"
        - name: "filter"
          in: "query"
          description: "Filter parameters that allow greater customisation of the list response"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            properties:
              "updated_after":
                type: "string"
                additionalProperties: false
                description: "Use a string with a date to only select results updated after that given date"
                nullable: true
                example: "2020-01-01T00:00:00.000Z"
            nullable: true
        - name: "page"
          in: "query"
          description: "The page number of the results to fetch"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
        - name: "page_size"
          in: "query"
          description: "The number of results per page (default value is 25)"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "next"
          in: "query"
          description: "The unified cursor"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "updated_after"
          in: "query"
          description: "Use a string with a date to only select results updated after that given date"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
            example: "2020-01-01T00:00:00.000Z"
      responses:
        "200":
          description: "The list of employee custom field definitions was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/CustomFieldDefinitionsPaginated"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-group: "hris"
      x-speakeasy-name-override: "list_employee_custom_field_definitions"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "next", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.next"}}
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  /unified/hris/custom_field_definitions/employees/{id}:
    get:
      tags:
        - "Custom Field Definitions"
      summary: "Get employee Custom Field Definition"
      operationId: "hris_get_employee_custom_field_definition"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "raw"
          in: "query"
          description: "Indicates that the raw request result should be returned in addition to the mapped result (default value is false)"
          required: false
          schema:
            type: "boolean"
            nullable: true
        - name: "proxy"
          in: "query"
          description: "Query parameters that can be used to pass through parameters to the underlying provider request by surrounding them with 'proxy' key"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            additionalProperties: true
            nullable: true
        - name: "fields"
          in: "query"
          description: "The comma separated list of fields that will be returned in the response (if empty, all fields are returned)"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "id,remote_id,name,description,type,options"
        - name: "filter"
          in: "query"
          description: "Filter parameters that allow greater customisation of the list response"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            properties:
              "updated_after":
                type: "string"
                additionalProperties: false
                description: "Use a string with a date to only select results updated after that given date"
                nullable: true
                example: "2020-01-01T00:00:00.000Z"
            nullable: true
        - name: "page"
          in: "query"
          description: "The page number of the results to fetch"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
        - name: "page_size"
          in: "query"
          description: "The number of results per page (default value is 25)"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "next"
          in: "query"
          description: "The unified cursor"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "updated_after"
          in: "query"
          description: "Use a string with a date to only select results updated after that given date"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
            example: "2020-01-01T00:00:00.000Z"
      responses:
        "200":
          description: "The employee custom field definition was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/CustomFieldDefinitionResultApiModel"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-group: "hris"
      x-speakeasy-name-override: "get_employee_custom_field_definition"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  /unified/hris/employees:
    get:
      tags:
        - "Employees"
      summary: "List Employees"
      operationId: "hris_list_employees"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
        - name: "raw"
          in: "query"
          description: "Indicates that the raw request result should be returned in addition to the mapped result (default value is false)"
          required: false
          schema:
            type: "boolean"
            nullable: true
        - name: "proxy"
          in: "query"
          description: "Query parameters that can be used to pass through parameters to the underlying provider request by surrounding them with 'proxy' key"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            additionalProperties: true
            nullable: true
        - name: "fields"
          in: "query"
          description: "The comma separated list of fields that will be returned in the response (if empty, all fields are returned)"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "id,remote_id,first_name,last_name,name,display_name,gender,ethnicity,date_of_birth,birthday,marital_status,avatar_url,avatar,personal_email,personal_phone_number,work_email,work_phone_number,job_id,remote_job_id,job_title,job_description,department_id,remote_department_id,department,cost_centers,company,manager_id,remote_manager_id,hire_date,start_date,tenure,work_anniversary,employment_type,employment_contract_type,employment_status,termination_date,company_name,company_id,remote_company_id,preferred_language,citizenships,home_location,work_location,employments,custom_fields,documents,created_at,updated_at,benefits,employee_number,national_identity_number,national_identity_numbers,skills"
        - name: "filter"
          in: "query"
          description: "HRIS Employees filters"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            properties:
              "updated_after":
                type: "string"
                additionalProperties: false
                description: "Use a string with a date to only select results updated after that given date"
                nullable: true
                example: "2020-01-01T00:00:00.000Z"
              "email":
                type: "string"
                description: "Filter to select employees by email"
                nullable: true
              "employee_number":
                type: "string"
                description: "Filter to select employees by employee_number"
                nullable: true
            nullable: true
        - name: "page"
          in: "query"
          description: "The page number of the results to fetch"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
        - name: "page_size"
          in: "query"
          description: "The number of results per page (default value is 25)"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "next"
          in: "query"
          description: "The unified cursor"
          required: false
          schema:
            type: "string"
            nullable: true
        - name: "updated_after"
          in: "query"
          description: "Use a string with a date to only select results updated after that given date"
          required: false
          deprecated: true
          schema:
            type: "string"
            nullable: true
            example: "2020-01-01T00:00:00.000Z"
        - name: "expand"
          in: "query"
          description: "The comma separated list of fields that will be expanded in the response"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "company,employments,work_location,home_location,groups,skills"
        - name: "include"
          in: "query"
          description: "The comma separated list of fields that will be included in the response"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "avatar_url,avatar,custom_fields,job_description,benefits"
      responses:
        "200":
          description: "The list of employees was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/EmployeesPaginated"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-group: "hris"
      x-speakeasy-name-override: "list_employees"
      x-speakeasy-pagination: {"type": "cursor", "inputs": [{"name": "next", "in": "parameters", "type": "cursor"}], "outputs": {"nextCursor": "$.next"}}
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
      x-speakeasy-usage-example: {"title": "List Employees", "position": 1}
    post:
      tags:
        - "Employees"
      summary: "Creates an employee"
      operationId: "hris_create_employee"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/HrisCreateEmployeeRequestDto"}
        required: true
      responses:
        "201":
          description: "The employee was created successfully."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/CreateResult"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-group: "hris"
      x-speakeasy-name-override: "create_employee"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  /unified/hris/employees/{id}:
    get:
      tags:
        - "Employees"
      summary: "Get Employee"
      operationId: "hris_get_employee"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
        - name: "raw"
          in: "query"
          description: "Indicates that the raw request result should be returned in addition to the mapped result (default value is false)"
          required: false
          schema:
            type: "boolean"
            nullable: true
        - name: "proxy"
          in: "query"
          description: "Query parameters that can be used to pass through parameters to the underlying provider request by surrounding them with 'proxy' key"
          required: false
          style: "deepObject"
          explode: true
          schema:
            type: "object"
            additionalProperties: true
            nullable: true
        - name: "fields"
          in: "query"
          description: "The comma separated list of fields that will be returned in the response (if empty, all fields are returned)"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "id,remote_id,first_name,last_name,name,display_name,gender,ethnicity,date_of_birth,birthday,marital_status,avatar_url,avatar,personal_email,personal_phone_number,work_email,work_phone_number,job_id,remote_job_id,job_title,job_description,department_id,remote_department_id,department,cost_centers,company,manager_id,remote_manager_id,hire_date,start_date,tenure,work_anniversary,employment_type,employment_contract_type,employment_status,termination_date,company_name,company_id,remote_company_id,preferred_language,citizenships,home_location,work_location,employments,custom_fields,documents,created_at,updated_at,benefits,employee_number,national_identity_number,national_identity_numbers,skills"
        - name: "expand"
          in: "query"
          description: "The comma separated list of fields that will be expanded in the response"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "company,employments,work_location,home_location,groups,skills"
        - name: "include"
          in: "query"
          description: "The comma separated list of fields that will be included in the response"
          required: false
          schema:
            type: "string"
            nullable: true
            example: "avatar_url,avatar,custom_fields,job_description,benefits"
      responses:
        "200":
          description: "The employee with the given identifier was retrieved."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/EmployeeResult"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-group: "hris"
      x-speakeasy-name-override: "get_employee"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
    patch:
      tags:
        - "Employees"
      summary: "Updates an employee"
      operationId: "hris_update_employee"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/HrisUpdateEmployeeRequestDto"}
        required: true
      responses:
        "200":
          description: "Record updated successfully"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UpdateResult"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnprocessableEntityResponse"}
        "429":
          description: "Too many requests."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/TooManyRequestsResponse"}
        "500":
          description: "Server error while executing the request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InternalServerErrorResponse"}
        "501":
          description: "This functionality is not implemented."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotImplementedResponse"}
        "502":
          description: "Bad gateway error."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadGatewayResponse"}
      security:
        - basic: []
      x-speakeasy-group: "hris"
      x-speakeasy-name-override: "update_employee"
      x-speakeasy-retries: {"statusCodes": [429, 408], "strategy": "backoff"}
  /unified/hris/employees/{id}/invite:
    post:
      tags:
        - "Employees"
      summary: "Invite Employee"
      operationId: "hris_invite_employee"
      parameters:
        - name: "x-account-id"
          in: "header"
          description: "The account identifier"
          required: true
          schema:
            type: "string"
        - name: "id"
          in: "path"
          required: true
          schema:
            type: "string"
      requestBody:
        content:
          "application/json":
            schema: {"$ref": "#/components/schemas/HrisInviteEmployeeRequestDto"}
        required: true
      responses:
        "200":
          description: "Record invited successfully"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/InviteEmployeeResult"}
        "400":
          description: "Invalid request."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/BadRequestResponse"}
        "401":
          description: "Unauthorized access."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/UnauthorizedResponse"}
        "403":
          description: "Forbidden."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ForbiddenResponse"}
        "404":
          description: "Resource not found."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/NotFoundResponse"}
        "408":
          description: "The request has timed out."
          headers:
            "Retry-After":
              description: "A time in seconds after which the request can be retried."
              schema:
                type: "string"
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/RequestTimedOutResponse"}
        "409":
          description: "Conflict with current state."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/ConflictResponse"}
        "412":
          description: "Precondition failed: linked account belongs to a disabled integration."
          content:
            "application/json":
              schema: {"$ref": "#/components/schemas/PreconditionFailedResponse"}
        "422":
          description: "Validation error."
          content:
[...]
